NEXT_PUBLIC_APP="loyalboards"
NEXT_PUBLIC_LIST=["loyalboards", "taskflow", "contentcalendar", "invoicesnap", "meetingmind", "emailwarmup", "stocksync"]

MONGO_URI="mongodb+src://<username>:<password>@<cluster>.mongodb.net/<app-name>-<dev|prod>"
AUTH_SECRET="dDhAKvWoSkQJtEF73FiDc9a4hFa9YR3mXvXwcmmNHr8="
